body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  a {
    color: black;
    text-decoration: none;
  }
  .main {
    background-color: #ffff99;
    padding: 0;
    margin: 0 auto;
  }
  .iconSection {
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 5%;
    .iconContent {
      width: 80%;
      margin: 0 auto;
      vertical-align: bottom;
    .tech{
      vertical-align: bottom;
      .icon {
        width: 30%;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        vertical-align: top
      }
    }
    }
  }
  //background-color: #ffffcc;
  .locations {
    background-color: #ffffb3;
    padding-bottom: 5%;
    padding-top: 5%;
    .localSection {
      width: 80%;
      margin: 0 auto;
      .local {
        padding: 1%;
        display: inline-block;
        width: 30%;
        vertical-align: top;
        margin: 0;
        h4 {
          display: inline-block;
          margin-top: 1%;
          margin-bottom: 1%;
          font-style: italic;
        }
        h3 {
          //display: inline-block;
          margin: 0;
        }
        h5 {
          font-weight: bold;
        }
        .address {
          margin: 0;
        }
        .about {
          margin: 0;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .donate {
    background-color: #ffff99;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .companies2 {
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 0 auto;
    text-align: center;
    img {
      max-height: 375px;
    }
  }
  .companies {
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 0 auto;
    text-align: center;
    .compSection {
      width: 80%;
      margin: 0 auto;
      .compLogo {
        display: inline-block;
        img {
          max-height: 50px;
          padding: 5%;
        }
      }
    }
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
    .split {
      width: 32%;
      display: inline-block;
      vertical-align: top;
      h2 {
        vertical-align: middle;
      }
      i {
        vertical-align: middle;
        font-size: 24px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .inline {
    display: inline;
  }
  #myVideo {
    width: 100%;
    z-index: 0;
    margin-top: -28%;
  }
  #logo {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding-top: 23%;
  }
  .blurb {
    width: 80%;
    margin: 5% auto 0;
    padding-bottom: 5%;
  }
  @media (max-width:1050px) and (min-width:1px) {
    .main {
      #logo {
        padding-top: 20%;
        max-height: 150px;
      }
      .blurb {
        padding-top: 2%;
        h2 {
          font-size: 18px;
        }
      }
    }
    .locations {
      .localSection {
        .local {
          display: block;
          width: 100%;
          h3 {
            display: inline-block;
          }
        }
      }
    }
    .companies {
      .compSection {
        width: 90%;
      }
    }
    .donate {
      .wrapper {
        .split {
          width: 100%;
        }
      }
    }
    .iconSection {
      .iconContent {
        .icon {
            h3{
              font-size: 14px;
            }
        }
      }
    }
  }
  @media (max-width:700px) and (min-width:1px) {
    .main {
      #logo {
        max-height: 120px;
      }

      .blurb {
        padding-top: 3%;
      }
    }
    .companies2 {
      img {
        max-height: auto;
      }
    }
    .iconSection {
      .iconContent {
        .icon {
            font-size: 15px;
            h3{
              font-size: 14px;
            }
        }
      }
    }
  }
  @media (max-width:500px) {
    .main {
      #logo {
        max-height: 100px;
      }
      .blurb {
        padding-top: 5%;
      }
    }
    .companies2 {
      img {
        width: 100%;
      }
    }
    .iconSection {
      .iconContent {
        .icon {
            font-size: 12px;
            h3{
              font-size: 12px;
            }
        }
      }
    }
  }
}
